<launch>
  <node pkg="controller" 
        name="controller" 
        type="controller"
        output="screen">
    <remap from="motors" to="trex_dmc01/motors_command"/>
    <param name="k_l" value="2.22"/>
    <param name="k_r" value="2.22"/>
    <param name="b" value="3.14"/>
    <param name="b_v" value="0.4"/>
  </node>

  <node pkg="trex_dmc01"
        name="trex_dmc01"
        type="trex_dmc01"
        output="screen">
    <param name="serial_port" value="/dev/ttyUSB0"/>
  </node>

  <node pkg="controller"
        name="motion_planner"
        type="motion_planner"/>

  <node pkg="zed_processor"
        name="process"
        type="process"
        args="--stereo-calib-file /home/konstantin/dev/robomagellan/utils/data/calib.yml --debug=4"
        output="screen"/>

  <node pkg="controller"
        name="heartbeat_generator"
        type="heartbeat_generator.py"
        clear_params="true"/>

  <node pkg="controller"
        name="path_provider"
        type="path_provider.py"
        output="screen">
      <param name="path_file" value="/home/konstantin/robot_run.kml"/>
  </node>
</launch>
