<launch>
  <node pkg="controller" 
        name="controller" 
        type="controller"
        output="screen">
      <param name="k_l" value="1.2"/>
      <param name="k_r" value="1.2"/>
      <param name="b" value="0.4"/>
      <param name="b_v" value="0.1"/>
  </node>
  <node pkg="unity_glue" 
        name="unity_glue" 
        type="unity_glue.py"
        respawn="true"
        respawn_delay="10"
        output="screen"/>
  <node pkg="controller"
        name="path_provider"
        type="path_provider.py">
      <param name="path_file" value="/home/konstantin/robot_run.kml"/>
  </node>
  <node pkg="controller"
        name="motion_planner"
        type="motion_planner"/>
</launch>
